body{
    font-family: "Roboto", "arial", sans-serif;
}

h2{
    font-family: "Roboto condensed", "arial", sans-serif;
}
*:focus{
    outline: 3px dotted #ff7500;
    outline-offset: 3px;
}
.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 5px solid #ff7500;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main-logo :hover{
    opacity: 0.8;
}
.main-logo :active{
    opacity: 0.6;
}
.site-header-actions{
    display: flex;
}
header ul{
    list-style-type: none;
}
.sitenav-list{
    display: flex;
    padding: none;
    margin: 0;
    list-style: none;
    font-weight: bold;
}
.sitenav-list :hover{
    color: #ff7500;
}
.sitenav-list :active{
    opacity: 0.6;
}
.sitenav-item{
    font-weight: bold;
    text-decoration: none;
    margin-right: 32px;
    color: #000000;
}
.sitenav-link{
    font-weight: 500;
    font-size: 13px;
    line-height: auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.main-link{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    font-family: "Roboto","arial", sans-serif;
    line-height: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #ff7500;
    color: white;
    text-decoration: none;
}
.main-link:hover{
    opacity: 0.8;
}
.main-link:active{
    background: rgba(255, 117, 0, 1);
    opacity: 0.6;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #252420;
    color: white;

}

.orange-line{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    border: none;
}

.hero-heading{
    font-weight: bold;
    font-style:normal;
    line-height: 1.2px;
}
.hero-content{
    width: 390px;
}
.hero-text{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5px;
}
.hero-img{
    width: 510px;
    height: 510px;
    border-radius:8px;
}

.features{
    padding-top: 210px;
    padding-bottom: 210px;
}
.features ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.features-heading{
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
}

.features-list{
    padding: 0;
}
.features-title{
    width: 215px;
    height: 30px;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
}
.features-info{
    width: 315px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.6px;
    color: #000000;
}
.sale{
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
    color: white;
}
.sale-content{
    width: 440px;
}
.sales-heading{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
}

.sale-info{
    font-size: 16px;
    line-height: 1.5;
}

.sale-img{

    width: 440px;
    height: 440px;
    border-radius: 12px;
    object-fit: cover;
}

.site-footer{
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.site-footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-footer ul{
    list-style: none;
    padding: 0;
}

.site-footer-socials{
    padding: o;
    display: flex;
    justify-content: space-around;
    color:#252420;
}
.site-footer-socials a{
    color:#252420;
}
.site-footer-socials a:hover{
    color:#ff7500;
}
.site-footer-socials a:active{
    opacity: 0.6;
}

.site-footer-divider{
    border: 0;
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}

.site-footer-bottom{
    display: flex;
}

.site-footer-links{
    width: 224px;
}
.site-footer-links :hover{
    color: #ff7500;
}

.site-footer-links :active{
    opacity: 0.6;
}
.site-footer-links a{
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color:#252420;
    font-weight: normal;
}