header{
    border-top: 5px solid #ff7500;
}
.nav-link{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.hero{
    background-color: #252420;
    color: white;
}

button{
    background-color: #ff7500;
    color: white;
}
.sale{
    background-color: #252420;
    color: white;
}